<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klasifikasi Bunga Kertas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='site.min.css') }}" />
</head>
<body>
    <header class="header__navbar">
        <h3><a href="/" style="color: black;">← kembali</a></h3>
        <div class="navbar">
            <ul class="navbar__links">
                <li><a href="#bunga">Bunga Kertas</a></li>
                <li><a href="#afterglow">Afterglow</a></li>
                <li><a href="#coconutice">Coconut Ice</a></li>
                <li><a href="#glabra">Glabra</a></li>
                <li><a href="#goldrush">Goldrush</a></li>
                <li><a href="#spectabilis">Spectabilis</a></li>
            </ul>
        </div>
    </header>
    <section class="profil" id="bunga">
        <div class="content">
            <div class="col-6">
                <img src="{{ url_for('static', filename='img/background.png') }}" alt="">
            </div>
            <div class="col-6">
                <h2>Bunga Kertas</h2>
                <p>Tanaman bunga kertas (Bougainvillea) merupakan salah satu tanaman hias yang banyak diminati karena keindahan bunganya. Asal tanaman ini adalah dari Amerika Selatan, namun kini sudah banyak ditemukan di Indonesia. Bunga kertas populer dibudidayakan dan dijadikan tanaman hias berkat daya tarik visualnya. Tanaman ini memiliki bentuk pohon kecil yang sulit tumbuh tegak, dan keindahan bunga kertas berasal dari brakteanya yang berwarna cerah, membuatnya tampak sangat menarik</p>
            </div>
        </div>
    </section>
    <section class="profil" id="afterglow">
        <div class="content">
            <div class="col-6">
                <img src="{{ url_for('static', filename='img/afterglow.jpg') }}" alt="">
            </div>
            <div class="col-6">
                <h2>Afterglow</h2>
                <p>Bougenville Afterglow adalah varietas unik yang dapat berbunga lebih dari sekali sepanjang tahun. Kelopaknya memiliki warna orange, merah muda, atau coral dengan tekstur lembut.</p>
            </div>
        </div>
    </section>
    <section class="profil" id="coconutice">
        <div class="content">
            <div class="col-6">
                <img src="{{ url_for('static', filename='img/coconutice.jpg') }}" alt="">
            </div>
            <div class="col-6">
                <h2>Coconut Ice</h2>
                <p>Bougainvillea Coconut Ice memiliki warna pastel, yaitu putih dengan semburat merah mudah yang memberikan tampilan elegan dan segar.</p>
            </div>
        </div>
    </section>
    <section class="profil" id="glabra">
        <div class="content">
            <div class="col-6">
                <img src="{{ url_for('static', filename='img/glabra.jpg') }}" alt="">
            </div>
            <div class="col-6">
                <h2>Glabra</h2>
                <p>Bougainvillea Glabra memiliki daun yang umumnya lebih kecil dengan bentuk oval serta permukaan yang relatif halus, memiliki warna braktea yang lebih cerah dan tipis.</p>
            </div>
        </div>
    </section>
    <section class="profil" id="goldrush">
        <div class="content">
            <div class="col-6">
                <img src="{{ url_for('static', filename='img/goldrush.jpg') }}" alt="">
            </div>
            <div class="col-6">
                <h2>Gold Rush</h2>
                <p>Bougainvillea Gold Rush memiliki daun yang berbentuk elips atau oval, berwarna hijau tua, dan memiliki permukaan yang halus serta sedikit mengkilap. Memiliki warna braktea kuning cerah, yang dapat berubah menjadi oranye saat mekar atau saat terpapar sinar matahari langsung.</p>
            </div>
        </div>
    </section>
    <section class="profil" id="spectabilis">
        <div class="content">
            <div class="col-6">
                <img src="{{ url_for('static', filename='img/spectabilis.jpg') }}" alt="">
            </div>
            <div class="col-6">
                <h2>Spectabilis</h2>
                <p>Bougainvillea Spectabilis memiliki daun yang berbentuk oval hingga bulat telur dengan ujung yang meruncing, serta memiliki permukaan yang kasar dan berbulu halus. Brakteanya memiliki warna cerah, seperti ungu atau merah muda terang.</p>
            </div>
        </div>
    </section>
    <footer class="footer">
        <p>&copy; 2025 Tantia Azzahra. All rights reserved.</p>
    </footer>
</body>
</html>